<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.acorn.gymmanagement.auth.mapper.AuthMapper">
    <resultMap id="LocalAuthenticatedUserResultMap" type="com.acorn.gymmanagement.auth.model.LocalAuthenticatedUser">
        <constructor>
            <idArg column="user_id" javaType="java.lang.Long" />
            <arg column="login_id" javaType="java.lang.String" />
            <arg column="password_hash" javaType="java.lang.String" />
            <arg column="email" javaType="java.lang.String" />
            <arg column="role" javaType="java.lang.String" />
            <arg column="status" javaType="java.lang.String" />
        </constructor>
    </resultMap>

    <select id="findLocalUserByLoginId"
            parameterType="string"
            resultMap="LocalAuthenticatedUserResultMap">
        SELECT
            u.id AS user_id,
            c.login_id,
            c.password_hash,
            u.email,
            u.role,
            u.status
        FROM users u
        JOIN user_local_credentials c
            ON c.user_id = u.id
        WHERE c.login_id = #{loginId}
    </select>

    <resultMap id="OAuthAuthenticatedUserResultMap"
               type="com.acorn.gymmanagement.auth.model.OAuthAuthenticatedUser">
        <constructor>
            <idArg name="userId"
                   column="user_id"
                   javaType="java.lang.Long"/>
            <arg name="email"
                 column="email"
                 javaType="java.lang.String"/>
            <arg name="role"
                 column="role"
                 javaType="java.lang.String"/>
            <arg name="status"
                 column="status"
                 javaType="java.lang.String"/>
            <arg name="memberId"
                 column="member_id"
                 javaType="java.lang.Long"/>
        </constructor>
    </resultMap>

    <select id="findOAuthUser"
            resultMap="OAuthAuthenticatedUserResultMap">
        SELECT
        u.id AS user_id,
        u.email,
        u.role,
        u.status,
        m.id AS member_id
        FROM user_oauth_accounts oa
        JOIN users u
        ON u.id = oa.user_id
        LEFT JOIN members m
        ON m.user_id = u.id
        WHERE oa.provider = #{provider}
        AND oa.provider_subject = #{providerSubject}
    </select>

    <select id="existsUserByEmail"
            resultType="boolean">
        SELECT EXISTS(
        SELECT 1
        FROM users
        WHERE email = #{email}
        )
    </select>

    <update id="updateLastLoginAt">
        UPDATE users
        SET last_login_at = CURRENT_TIMESTAMP
        WHERE id = #{userId}
    </update>
</mapper>
